<div>
    <nav class="navbar navbar-expand-xl navbar-light bg-light col-12" style="background-color: #e3f2fd;">
        <img class="logo" src="/images/train.png">
        <a class="navbar-brand" href="#">Ticketac</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active text-danger font-weight-bold" href="/sign-in">Connection <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-dark" href="/">My last trips</a>
          </div>
        </div>
      </nav>