body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:linear-gradient(#C7DEE9, #357FAE);
}

a {
  color: #00B7FF;
}

.home {
  
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.logo{
width: 50px;
padding-right: 1%;

}

.navbar {
  width: 100vw;
}

.row-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabresults {
  margin-top: 1vw;
}

.titleForm {
  color: #FFFFFF;
}

.calendar {
  height: 46px;
}

.landmark {

  margin-top: 5vw;
}